<mat-accordion >
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <app-category></app-category>
    <app-isbn></app-isbn>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <app-pages></app-pages>
    <app-year></app-year>
  </div>
  </div>
</mat-expansion-panel>
</mat-accordion>
