<div class="form-style" [formGroup]="control" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div fxLayout="column" fxLayoutGap="30px">
    <mat-form-field class="example-full-width" appearance="fill">
      <!--     max 120 characters min 10, allow the following special characters: @”#&*!  -->
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" placeholder="Title">
      <mat-error *ngIf="control.get('title')?.hasError('minlength') || control.get('title')?.hasError('pattern') || control.get('title')?.hasError('maxlength') && !control.get('title')?.hasError('required')">
        Please enter max 120 characters min 10 Allowed  @”#&*! Special Characters
      </mat-error>
      <mat-error *ngIf="control.get('title')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!--    Description: max 512 characters and must start with the first letter be uppercase-->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" placeholder="Description">
      <mat-error *ngIf="control.get('description')?.hasError('maxlength') || control.get('description')?.hasError('pattern') || !control.get('description')?.hasError('required')">
        max 512 characters and must start with the first letter be uppercase
      </mat-error>
      <mat-error *ngIf="control.get('description')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <!--     : max 3 Authors (this field can be repeated)-->
      <mat-label>Author Name</mat-label>
      <input type="text" matInput formControlName="author" placeholder="Author Name">
      <mat-error *ngIf="control.get('author')?.hasError('maxWords') && !control.get('author')?.hasError('required')">
        max 3 Author Names
      </mat-error>
      <mat-error *ngIf="control.get('author')?.hasError('required')">
        Author Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
<!--      Publisher: max 60 characters min 5-->
      <mat-label>Publisher</mat-label>
      <input type="text" matInput formControlName="publisher" placeholder="Publisher">
      <mat-error *ngIf="control.get('publisher')?.hasError('maxlength') || control.get('publisher')?.hasError('minlength') && !control.get('publisher')?.hasError('required')">
        max 60 characters min 5
      </mat-error>
      <mat-error *ngIf="control.get('publisher')?.hasError('required')">
        Publisher is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <!--      Year: 4 digits-->
      <mat-label>Year</mat-label>
      <input type="number"  matInput formControlName="published" placeholder="Year" >
      <mat-error *ngIf="control.get('published')?.hasError('pattern') || control.get('published')?.hasError('max') && !control.get('published')?.hasError('required')">
        only positive numbers and exact 4 digits
      </mat-error>
      <mat-error *ngIf="control.get('published')?.hasError('required')">
        Year is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <!--      Number of pages: max 9999-->
      <mat-label>Number of pages</mat-label>
      <input type="number" matInput formControlName="pages" placeholder="Number of pages">
      <mat-error *ngIf="control.get('pages')?.hasError('maxNumberOfPage') || control.get('pages')?.hasError('min') && !control.get('pages')?.hasError('required')">
        only positive numbers & max number 9999
      </mat-error>
      <mat-error *ngIf="control.get('pages')?.hasError('required')">
        Number of pages is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutGap="30px">
    <mat-form-field class="example-full-width" appearance="fill">
      <!--     : max 4 categories-->
      <mat-label>Category</mat-label>
      <input type="text" matInput formControlName="categories" placeholder="Categories">
      <mat-error *ngIf="control.get('categories')?.hasError('maxWords') && !control.get('categories')?.hasError('required')">
        max 4 categories per book
      </mat-error>
      <mat-error *ngIf="control.get('categories')?.hasError('required')">
        Categories is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- ISBN-10: 10 digits     -->
      <mat-label>ISBN</mat-label>
      <input type="number" matInput formControlName="isbn" placeholder="ISBN">
      <mat-error *ngIf="control.get('isbn')?.hasError('pattern') && !control.get('isbn')?.hasError('required')">
       Enter 10 digits and only positive number
      </mat-error>
      <mat-error *ngIf="control.get('isbn')?.hasError('required')">
        ISBN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- ISBN-10: 10 digits     -->
      <mat-label>ISBN - 13</mat-label>
      <input type="number" matInput formControlName="isbn_13" placeholder="ISBN">
      <mat-error *ngIf="control.get('isbn_13')?.hasError('pattern')  && !control.get('isbn_13')?.hasError('required')">
        Enter 13 digits  and only positive number
      </mat-error>
      <mat-error *ngIf="control.get('isbn_13')?.hasError('required')">
        ISBN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-label class="example-value-label">{{control.get('rating')?.value}}</mat-label>
        <mat-icon>star</mat-icon>
      </div>
      <mat-slider
        formControlName="rating"
        max="5"
        min="1"
        step="1"
       >
      </mat-slider>
    </div>
  </div>

</div>
