<div class="form-style" [formGroup]="control" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div fxLayout="column">
    <mat-form-field class="example-full-width" appearance="fill">
      <!--     max 120 characters min 10, allow the following special characters: @”#&*!  -->
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" placeholder="Title">
      <mat-error *ngIf="control.get('title')?.hasError('minlength') || control.get('title')?.hasError('pattern') || control.get('title')?.hasError('maxlength') && !control.get('title')?.hasError('required')">
        Please enter max 120 characters min 10 Allowed  @”#&*! Special Characters
      </mat-error>
      <mat-error *ngIf="control.get('title')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <!--    Description: max 512 characters and must start with the first letter be uppercase-->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" placeholder="Description">
      <mat-error *ngIf="control.get('description')?.hasError('maxlength') || control.get('description')?.hasError('pattern') || !control.get('description')?.hasError('required')">
        max 512 characters and must start with the first letter be uppercase
      </mat-error>
      <mat-error *ngIf="control.get('description')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <!--     : max 3 Authors (this field can be repeated)-->
      <mat-label>Author Name</mat-label>
      <input type="text" matInput formControlName="author_name" placeholder="Author Name">
      <mat-error *ngIf="control.get('author_name')?.hasError('maxWords') && !control.get('author_name')?.hasError('required')">
        max 3 Author Names
      </mat-error>
      <mat-error *ngIf="control.get('author_name')?.hasError('required')">
        Author Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
<!--      Publisher: max 60 characters min 5-->
      <mat-label>Publisher</mat-label>
      <input type="text" matInput formControlName="publisher" placeholder="Publisher">
      <mat-error *ngIf="control.get('publisher')?.hasError('maxlength') || control.get('publisher')?.hasError('minlength') && !control.get('publisher')?.hasError('required')">
        max 60 characters min 5
      </mat-error>
      <mat-error *ngIf="control.get('publisher')?.hasError('required')">
        Publisher is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <!--      Year: 4 digits-->
      <mat-label>Year</mat-label>
      <input type="date"  matInput formControlName="year" placeholder="Year" >
      <mat-error *ngIf="control.get('year')?.hasError('email') && !control.get('year')?.hasError('required')">
        4 digits
      </mat-error>
      <mat-error *ngIf="control.get('year')?.hasError('required')">
        Year is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
    <!--      Number of pages: max 9999-->
      <mat-label>Number of pages</mat-label>
      <input type="number" matInput formControlName="page_number" placeholder="Number of pages">
      <mat-error *ngIf="control.get('page_number')?.hasError('maxNumberOfPage') && !control.get('page_number')?.hasError('required')">
        max 9999
      </mat-error>
      <mat-error *ngIf="control.get('page_number')?.hasError('required')">
        Number of pages is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" >
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- ISBN-10: 10 digits     -->
      <mat-label>ISBN</mat-label>
      <input type="text" matInput formControlName="isbn" placeholder="ISBN">
      <mat-error *ngIf="control.get('isbn')?.hasError('maxlength') || control.get('isbn')?.hasError('minlength') || !control.get('isbn')?.hasError('required')">
       Enter 10 digits
      </mat-error>
      <mat-error *ngIf="control.get('isbn')?.hasError('required')">
        ISBN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- ISBN-10: 10 digits     -->
      <mat-label>ISBN - 13</mat-label>
      <input type="text" matInput formControlName="isbn_13" placeholder="ISBN">
      <mat-error *ngIf="control.get('isbn_13')?.hasError('maxlength') || control.get('isbn_13')?.hasError('minlength') && !control.get('isbn_13')?.hasError('required')">
        Enter 13 digits
      </mat-error>
      <mat-error *ngIf="control.get('isbn_13')?.hasError('required')">
        ISBN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Rating</mat-label>
      <input type="number" matInput formControlName="rating" placeholder="Rating">
    </mat-form-field>
  </div>

</div>
