<mat-toolbar color="primary" class="mb-30">
  <span>BookStore</span>
  <span class="example-spacer"></span>
  <button mat-button>
    Home
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button >
    Search
    <mat-icon>search</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

