<div class="footer-container" fxLayout="column" >
  <div fxLayout="row" fxLayoutAlign="start center">
    <h5 class="c-white">E-BookStore.com</h5>
    <mat-icon>menu_book</mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <p class="c-white">Contact us: on E-book@example.gr</p>
    <mat-icon>email</mat-icon>
    <p class="c-white">Instagram</p>
    <mat-icon>stay_primary_portrait</mat-icon>
    <p class="c-white">FaceBook</p>
    <mat-icon>stay_primary_portrait</mat-icon>
  </div>
</div>
