.container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin-top: 50px;
}
::ng-deep .mat-form-field-wrapper{
  width: 400px;
}
.mb-20px{
  margin-bottom: 20px;
}
.mr-30px{
  margin-right: 30px;
}
