
<form fxLayout="column" fxLayoutAlign="space-evenly center" [formGroup]="bookForm" >
  <ng-container *ngFor="let control of controls">
    <div [formGroup]="control" fxFill>
      <app-book-form></app-book-form>
    </div>
  </ng-container>
  <button mat-raised-button (click)="onAddnewBook()">add new book</button>
    <button type="submit"  mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" [disabled]="!formIsValid" (submit)="onSubmit()" >
    add Book
  </button>
</form>
